<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Control Ayudantías-Nosotros</title>

    <% include ../include/librerias %>
    
    <link href="/css/estilo.general1.css" rel="stylesheet">
    <link href="/css/nosotros.css" rel="stylesheet">   
    <!-- Custom CSS -->
    <link href="/css/Nsb-admin-2.css" rel="stylesheet">

   

    <!-- Custom Fonts -->
    <!--<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

    <!-- Ícono en la pestaña de la página -->
    <link rel="shortcut icon" href="/img/icono.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>


  </head>
  <body ng-app="myApp" ng-controller="horarioCtrl" ng-init="init()">
  
    <% include ../include/encabezado %>
    <!--Encabezado -->

	<!--*******************CONTENIDO DEL BODY******************-->
    <h2 class="titulo-pagina">Acerca de Nosotros</h2>


    <hr class="featurette-divider">
    
    <div class="descripcion">        
        <div id="parrafo1" style="width: 75%; margin:0 auto;">
                <p>Esta página fue creada con el fin de mejorar la organización de los Ayudantes Académicos de la ESPOL tanto en su desenvolvimiento en las clases que dictan como al momento de realizar sus horarios de ayudantías.</p>
        </div>
        <div id="parrafo2" style="width: 75%; margin:0 auto;">
                <p>Proyecto realizado en la materia Desarrollo de Aplicaciones Web, guiado por el MSc. Avendaño Allan.</p>
                <br>
                <p>Autores: Tumbaco Bryan, Colcha Narcisa, Vintimilla Arelys y Sánchez Elizabeth.</p>
        </div>
    </div>    
    <br>
    <br>    

    <div id="wrapper" class="cuadro">   
        <div id="page-wrapper">
           
            <div class="row">
                <div class="col-lg-8">
                    
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> PRINCIPALES BENEFICIOS
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Beneficios con la comunicación</h4>
                                            
                                            
                                        </div>
                                        <div class="timeline-body">
                                            <p>Facilitar la comunicación entre ayudantes, estudiantes y docentes.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Beneficios del sistema</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Rápido acceso a toda la información.</p>
                                            
                                        </div>
                                    </div>
                                </li>
                               
                               
                                <li>
                                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Beneficios con las TICs</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Permitir al ayudante subir archivos de una forma organizada para cada curso asignado.</p>
                                            
                                        </div>
                                    </div>
                                </li>
                               
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Beneficios Académicos</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Mejorar el rendimiento académico.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                
                    <!-- /.panel -->
             </div>
            </div>
        </div>
	<!--*******************FIN DEL CONTENIDO DEL BODY******************-->



	<br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <footer>
      <a href="https://www.facebook.com/bryandariot"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/elisanvil"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/elisavil"><i class="fa fa-linkedin"></i></a>
      <!--<a href="#"><i class="fa fa-instagram"></i></a>-->
    <br />
      <small>©2017 por B. Tumbaco, N. Colcha, A. Vintimilla y E. Sánchez</small>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
 
    
</body>
</html>