<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Control Ayudantías-Sesion Cerrada</title>

    <!-- Bootstrap -->
    <link href="/css/editar_perfil.css" rel="stylesheet">
    <link href="/css/estilo.general1.css" rel="stylesheet">

    
    <!-- Ícono en la pestaña de la página -->
    <link rel="shortcut icon" href="/img/icono.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
     <link href="/css/cerrarSesion.css" rel="stylesheet">
	
</head>
<body>
	
  <% include include/encabezado %>
    <!--Encabezado -->

     <!--contenido BODY-->
    <div class="container">
      <h4 class="page-header">Usted ha finalizado sesión</h4>  
     
       
    </div>
    
<footer>
      <a href="https://www.facebook.com/bryandariot"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/elisanvil"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/elisavil"><i class="fa fa-linkedin"></i></a>
      <!--<a href="#"><i class="fa fa-instagram"></i></a>-->
    <br />
      <small>©2017 por B. Tumbaco, N. Colcha, A. Vintimilla y E. Sánchez</small>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>  

</body>
</html>