.titulo-pagina{
	font-family: 'Narkisim';
	text-align: center;
	position: relative;
	top: 23px;
	font-size: 2em;
	font-weight: bold;
}

.featurette-divider{
	margin: 0% 5% 0% 5%;
	position: relative;
	top: 22.5px;
}

#centro{
  margin-bottom: 20px;
  width: 100%;
}

.row {
  margin-bottom: 20px;
  width: 100%
}

div[class="col-md-8"] {
	position: relative;
	top: 50px;
	left: 3%;
}

/*caja gris*/
div[class = "panel panel-default"]{
	width: 300%;
	padding-bottom: 50%;
	margin-bottom: 25%;
}

/*caja azul*/
div[class = "panel panel-primary"]{
	width: 300%;
	padding-bottom: 50%;
	margin-bottom: 25%;
}

/*caja verde*/
div[class = "panel panel-success"]{
	width: 300%;
	padding-bottom: 50%;
	margin-bottom: 25%;
	margin-left: 200%;
}

/*caja celeste*/
div[class = "panel panel-info"]{
	width: 300%;
	padding-bottom: 50%;
	margin-bottom: 25%;
	margin-left: 200%;
}

div[class*="panel panel-"] .panel-title:hover {
	 opacity: 0.3;
}

div#menu li {
	list-style: none;
}

div#menu li a {
	color: #Fff;
}

